* {
  margin: 0;
  padding: 0;

}

.aboutus {
  background-image: url(images/oi.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
  width: 100%;
  position: relative;
}

.circle {
  border-radius: 95%;
  width: 20%;
  height: 40%;
  background-color: #fa5f1a;
  color: #000;
  position: relative;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 20%;
  left: 55.5%;
  opacity: 85%;

}

.Circle2 {
  border-radius: 95%;
  width: 20%;
  height: 40%;
  color: rgb(255, 255, 255);
  background-color: #fa5f1a;
  position: relative;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 65.5%;
  opacity: 50%;
  bottom: 200%;
}

.rectangle {
  /* border-radius: 90px; */
  height: 290px;
  width: 40%;
  background-color: #fa5f1a;
  position: relative;
  color: #fa5f1a;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 10%;
  opacity: 85%;
  box-sizing: border-box;
  background-image: url(images/download\ \(3\).jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.aboutus, .circle h1{
  color: black;

}

hero-section .na-v .navbar{
    box-shadow: 0px 0px 10px, 0px 0px 10px;
}
.container-fluid img{
    width: 40px;
}
.logo img{
    margin-left: 15px;
}
.logo h5{
    color: #FA5F1A;
    font-family: 'Creepster', cursive;
    font-size: 25px;
}
.na-v nav .container-fluid #nav-bar{
    display: flex;
    margin-right: 5%;
}
.na-v nav .container-fluid #nav-bar p{
    margin: 20px;
    font-family: 'Chicle', cursive;
    font-size: 35px;
    color: #FA5F1A;
}
.footer{
    position: relative;
    min-height: 300px;
    background-color: #171717;
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
}
.footer .footer-logo h6{
    color: #FA5F1A;
    font-family: 'Creepster', cursive;
    font-size: 25px;
}
.footer ul li{
    cursor: pointer;
    font-size: 15px;
    color: rgb(88, 82, 82);
}
.footer ul h3{
    font-size: 17px;
    color: white;
}
.footer div img{
    width: 30%;
    cursor: pointer;
}
.footer ul li:hover{
    color: white;
    text-decoration: underline;
    text-decoration-color: rgb(240, 115, 33);
}
.footer .footer-logo img{
    width: 50px;
}
.footer .newsletter{
    width: 370px;
    position: relative;
}
.footer .newsletter h3{
    font-size: 17px; 
    color: white;   
}
.footer .newsletter p{
    font-size: 15px; 
    color: rgb(88, 82, 82);   
}
.footer .newsletter input{
    width: 350px;
    height: 40px;   
    background-color: black;
    border: 1px solid white; 
    color: white;
    position: relative;
}
.footer .newsletter input:focus{
    border: none;
    outline: 2px solid #FA5F1A; 
}
.footer-line{
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    color: rgb(88, 82, 82);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-line p{
    cursor: pointer;
    margin: 5px;
}
.footer-line p:hover{
    color: #FA5F1A;
}
.footer .newsletter .subscribe{
    position: relative;
}
.footer .newsletter h4{
    position: absolute;
    top: 20%;
    left: 69%;
    color: white;
    font-size: 18px;
    cursor: pointer;
    color: #FA5F1A;
}


