* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  justify-content: center;
  width: 0;
  height: 0;
  padding: 40px 40%;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 8%;
}
